DATABASE_URL="postgresql://USER:PASSWORD@ep-xxxxx.region.aws.neon.tech/neondb?sslmode=require"

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-email@gmail.com
SMTP_PASS=your16charapppassword

MAIL_TO=your-email@gmail.com
MAIL_FROM="Portfolio Contact <your-email@gmail.com>"
